.grid__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    margin: 0 48px 92px;
}

.grid__images-item {
    width: 100%; 
}